
.tab {
    border-radius: 0%;
    background-color: #d1a1a9;
    border: solid;
    border-width: 1px;
    border-color: white;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    margin: 2px;
    margin-top: 5px;
}

.tabGroup {
    width: 600px;
}

#one{
    -webkit-animation-delay: 0s;
}
#two{
    -webkit-animation-delay: 0.2s;
}
#three{
    -webkit-animation-delay: 0.4s;
}

